/* https://nextjs.org/docs/app/building-your-application/styling/tailwind-css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply relative mx-auto space-y-8 px-4 py-8 antialiased;
    @apply prose prose-zinc dark:prose-invert;
    @apply dark:bg-zinc-900;
  }

  input {
    @apply rounded px-4 py-2;
    @apply text-zinc-900;
    @apply bg-zinc-200 dark:bg-zinc-200;
  }

  textarea {
    @apply rounded px-4 py-2;
    @apply text-zinc-900;
    @apply bg-zinc-200 dark:bg-zinc-200;
  }

  button,
  .button,
  [type='submit'] {
    @apply rounded px-4 py-3 leading-tight no-underline;
    @apply bg-zinc-200 text-zinc-900 dark:bg-zinc-400;
    @apply hover:bg-zinc-300 dark:hover:bg-zinc-500;
  }

  /* SHARE BUTTONS*/
  .share-wrapper {
    width: auto;
    height: 50px;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    color: black;

    justify-content: flex-end;
  }
  .share-wrapper:hover > div:first-child {
    opacity: 1;
    transform: translateX(0px);
    width: auto;
  }
  .share-wrapper:hover {
    width: auto;
  }
  .share {
    width: 32px;
    height: 32px;
    line-height: 32px;
    display: inline-block;
    cursor: pointer;

    vertical-align: top;
    text-align: center;
    margin: 0px;
    transition: all 0.2s ease 0s;
    transform: translateX(100%);
    opacity: 0;
  }
}
